.register-center{
  margin-top: 10rem;
  width: 500px;
  height: 400px;
  box-shadow: 0 -1px 8px 0 rgb(0 0 0 / 20%), 0 5px 14px 0 rgb(0 0 0 / 19%);
  padding-top: 2%;
}
.form-control{
  border-color: #e98580;
}

.btn{
  justify-content: center;
  display: flex;
}
label{
  font-size: 16px;
  font-weight: 700;
  color: #212529;
}
label span i {
  color: #b42424;
  font-size: 10px;
  margin-left: 5px;
}
