.add-forms-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}
.dMain {
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 5%;
  gap: 15px;
}
.formAddPlace {
  margin-top: 4rem;
  width: 27%;
  height: 341px;
  padding-top: 61px;
  margin: auto;
  margin-top: -23px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 50px;
}
.name_label {
  margin-left: 10px;
}
.click {
  display: flex;
}
.main-div {
  margin-top: 4rem;
  width: 29%;
  height: 341px;
  padding-top: 61px;
  margin: auto;
  margin-top: 3px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 50px;
}

.clickEdit {
  margin: auto;
  display: flex;
  gap: 0%;
  margin-left: 6px;
}
.modify {
  display: flex;
}

