.carousel-inner {
  max-height: 85vh;
  padding: 6px;
}
.carousel-item img {
  width: 100%;
}
.carousel .carousel-inner .drk::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

section {
  padding: 2.5%;
}
.imageO {
  display: flex;
  justify-content: center;
}
.imageO img{
  width: 60%;
  border-radius: 8px
}

h1,
h4 {
  font-family: "Bona Nova", serif;
  color: #791515;
}
h1 {
  font-style: italic;
  margin-bottom: 1.5%;
}
p {
  color: #444;
}
.list-group-item {
  border: none;
  margin: 0;
  padding: 4.5%;
}
.fa-li i {
  font-size: 35px;
  color: #cf6262;
}
.btn {
  background-color: #cf6262;
  color: #fff;
}
.btn:hover{
  color: #cf6262;
  background-color: #fff;
  font-weight: 600;
}
.card {
  box-shadow: 0 -1px 8px 0 rgb(0 0 0 / 20%), 0 5px 14px 0 rgb(0 0 0 / 19%);
  overflow: hidden;
  height: 100%;
}
#card{
  margin: 25px 0px;
}
.card-body p, h5{
  color: #444;
}
.swiper-container {
  margin-top: 3.5%;
  margin-bottom: 3.5%;
}
.card-img-top {
  transition: all 1s ease;
}
.card-img-top:hover {
  transform: scale(1.1) rotate(-5deg);
}
.card div{
  overflow: hidden;
}

.weddingsPlace {
    padding: 3.5%;
}