p.paragraphAbout {
  font-size: 21px;
  font-family: "Bona Nova", serif;
  color: #835151;
  /* justify-content: center;
    align-items: center; */
  width: 58%;
  margin-left: 23%;
}
p.paragraphAbout {
  font-size: 21px;
  font-family: "Bona Nova", serif;
  color: #835151;
  align-items: center;
}
img.imgAbout {
  /* width: 63%; */
  padding-left: 21%;
  margin-top: 4%;
}
img.rounded.mx-auto.d-block {
  width: 40%;

  margin-top: 3%;
}

p.paragraphAbout-center {
  width: 40%;
  margin-left: 1%;
  margin-top: 12px;
}
