.formBook {
    margin-top: 4rem;
    width: 18%;
    height: 341px;
    padding-top: 61px;
    margin: auto;
    margin-top: -23px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 50px;
}
.paragraph {
    margin-left: 46%;
    font-size: 130%;
    font-weight: 700;
}
.bold-text{
    font-weight: 600;
}