.card-title {
    
    font-size: 22px;
    font-family: "Bona Nova", serif;
}
.list-group {
    display: flex;
    margin-bottom: 0px;
    margin-left: -17px;
    border-radius: .25rem;
    font-size: 17px;
    color: black;
}
::before {
    color: #4F0E0B;
    margin-right: 11px;
}
.description {
    margin-top: 4px;
}
.address {
    margin-top: 18px;
}