footer{
    background-color: #f8e3e3;
    padding: 1.5%;
    color: #444;
}
.navbar-brand img{
    width: 160px;
    margin: auto;
}
ul li {
    display: inline-block;
    margin:0.75rem;
}
ul li a i {
    font-size: 1.5rem;
}
ul li span{
    margin-left: 0.3rem;
}