footer {
  background-color: #fbf7f0;
  padding: 1.5%;
  color: #444;
  bottom: 0;
  margin: auto;
  width: 100%;
}
.navbar-brand img {
  width: 160px;
  margin: auto;
}
ul li {
  display: inline-block;
  margin: 0.75rem;
}
ul li a i {
  font-size: 1.5rem;
}
ul li span {
  margin-left: 0.3rem;
}
ul li span {
  margin-left: 0.3rem;
}
ul li a i:hover {
  cursor: pointer;
}
