* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#backgroundImage{
  background-image: url("https://images.pexels.com/photos/4041251/pexels-photo-4041251.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
.container1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #e98580;
}

.form-center {
  margin: 2.5rem auto;
  background: white;
  width: 450px;
  height: auto;
  border: 1px solid #e98580;
  border-radius: 1.5%;
  padding: 2.5%;
  box-shadow: 0 -1px 8px 0 rgb(0 0 0 / 20%), 0 5px 14px 0 rgb(0 0 0 / 19%);
  opacity: 0.9;
}

.btn-submit {
  margin-top: 48px;
  margin-left: 29%;
}

.field {
  margin: 35px;
  font-weight: bold;
}

#btn {
  width: 119px;
}
.form-control.is-valid,
.was-validated .form-control:valid {
  border-color: #e98580;
}
.signIn {
  margin-left: 32px;
}
a.signIn.text-center {
  margin-left: 0px;
}
a {
  color: #e98580;
  text-decoration: none;
  background-color: transparent;
}
a:hover{
  text-decoration: none;
  color: #444;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  border: 2px solid #fef7fe;
}
