.cont{

display: flex;
flex-direction: column;


}

.card{

    width: 600px;
    flex-direction: row;
    align-self: center;
    margin: auto;
    margin-bottom:  1.2rem;
    margin-top: 1.2rem;
    /* box-shadow:  10px 11px 31px -3px #2d2e2e; */
}

.card-body{

    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}
.card-text:last-child{
    border: 1px solid black;
    
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-weight: bolder;
}

.card-p{

    border: 1px solid black;
    

}