
.image {
    width: 100%;
    margin-top: 0px;
    display: block;
    height: 100%;
}
.list-group{
    vertical-align: top;  
}
.font-weight-bolder{
    color: rgb(143, 23, 23);
    font-size: 25px;
}
.list-group-item {
    padding: 8px;
}
.rating-fav{
        display: flex;
        gap: 200px;
        margin-right: 13px;
}
.rating {
    justify-content: center;
    /* margin: auto; */
    margin-left: 125px;
    margin-top: 15px;
}