.image {
    width: 100%;
    margin-top: 11px;
    display: flex;
    height: 70%;
    vertical-align: top;
}
.list-group{
    vertical-align: top;  
}
.font-weight-bolder{
    color: rgb(143, 23, 23);
}
.list-group-item {
    padding: 8px;
}
.rating-fav{
        display: flex;
        gap: 211px;
        margin-right: 13px;
    
}