.image {
    width: 100%;
    margin-top: 22px;
    display: flex;
    height: 65%;
    vertical-align: top;
}
.list-group{
    vertical-align: top;  
}
.font-weight-bolder{
    color: rgb(143, 23, 23);
}
.list-group-item {
    padding: 8px;
}