.nav-item .nav-link:hover {
  background-color: #d49a9a;
  color: #791515 !important;
}
.dropdown-menu {
  /* margin-top: -10px; */
  border: transparent;
  background-color: #791515;
}
.dropdown-menu .dropdown-item {
  color: #212529;
}
.dropdown-menu .dropdown-item {
  background-color: transparent;
  color: white;
}

.dropdown-menu .dropdown-item:hover {
  /* background-color: #d49a9a; */
  color: #791515;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: -75px;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #e07d7d;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
p.userData {
  margin-left: 11px;
}
p.signed {
  color: white;
  margin-bottom: -24px;
  margin-left: 4px;
}
a.nav-link {
  color: #c73a3a;
  /* margin-top: -17px; */
}
/* #df5e5e */
