.nav-item .nav-link:hover {
  /* background-color: #d49a9a; */
  color: #791515 !important;
}
.dropdown-menu {
  border: transparent;
  background-color: #cf6262;
  color: #212529;
  float: left;

}
.dropdown-menu .dropdown-item {
  color: #212529;
}
.dropdown-menu .dropdown-item {
  background-color: transparent;
  color: white;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #d49a9a;
  color: #740000;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
p.userData {
  margin-left: 11px;
}
p.signed {
  color: white;
  margin-bottom: -24px;
  margin-left: 4px;
}
a.nav-link {
  color: #c73a3a;
}